@font-face {
    font-family: "headings";
    src: url("./assets/fonts/Streamer\ Slant\ Demo.otf") format("opentype");
}
@font-face {
    font-family: "texts";
    src: url("./assets/fonts/Cyber\ gloom.otf") format("opentype");
}

body 
{
    height: 100vh;
    background: url("./assets/imgs/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    resize: both;
}

a
{
    text-decoration: none;
}

#nav-bar
{
    display: flex;
    flex-direction: column;
    font-family: "headings", sans-serif;
}