body 
{
    height: 100vh;
    background: url("1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    resize: both;
}

a
{
    text-decoration: none;
}

#nav-bar
{
    display: flex;
    flex-direction: column;
}